<div class="surahcontainer">
  <div class="surahNavBar">
    <div class="surahNavBarLinks">
      <a routerLink="/adminDashboard/surah" routerLinkActive="active">List</a>
      <a routerLink="/adminDashboard/surah/add" routerLinkActive="active"
        >Add</a
      >
      <a routerLink="/adminDashboard/surah/delete" routerLinkActive="active"
        >Delete
      </a>
      <a routerLink="/adminDashboard/surah/update" routerLinkActive="active"
        >Update</a
      >
    </div>
  </div>
  <div class="surahContent">
    <router-outlet></router-outlet>
  </div>
</div>
