<div class="containers">
  <h3>Basic of islam</h3>
  <div class="basicOfIslamContainer">
    <div class="left">
      <div class="basicofIslamElement">
        <div class="header">
          <img src="../../../assets/basicsOfIslam/Shahada.png" alt="Shahada" />
          <span>Shahada</span>
        </div>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum velit
          aperiam accusamus voluptatem
        </p>
      </div>
      <div class="basicofIslamElement">
        <div class="header">
          <img src="../../../assets/basicsOfIslam/salah.png" alt="Salah" />
          <span>Salah</span>
        </div>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum velit
          aperiam accusamus voluptatem
        </p>
      </div>
      <div class="basicofIslamElement">
        <div class="header">
          <img src="../../../assets/basicsOfIslam/Zakat.png" alt="Zakat" />
          <span>Zakat</span>
        </div>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum velit
          aperiam accusamus voluptatem
        </p>
      </div>
    </div>
    <div class="center">
      <img src="../../../assets/basicOfIslam.png" alt="Basics of islam" />
    </div>
    <div class="right">
      <div class="basicofIslamElement">
        <div class="header">
          <img src="../../../assets/basicsOfIslam/Fasting.png" alt="Fasting" />
          <span>Fasting</span>
        </div>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum velit
          aperiam accusamus voluptatem
        </p>
      </div>
      <div class="basicofIslamElement">
        <div class="header">
          <img src="../../../assets/basicsOfIslam/Hajj.png" alt="Hajj" />
          <span>Hajj</span>
        </div>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum velit
          aperiam accusamus voluptatem
        </p>
      </div>
    </div>
  </div>
</div>
