<div class="authComponent">
  <app-navbar></app-navbar>
  <div class="Wrapper">
    <div class="authContainer">
      <div class="imgContainer">
        <img src="../../../assets/basicOfIslam.png" alt="Auth Image" />
      </div>
    </div>
    <div class="mainContainer">
      <div class="text">
        <h1>Sign up</h1>
      </div>
      <div class="formContainer">
        <form (ngSubmit)="submitForm()" [formGroup]="registerForm">
          <div class="form-group">
            <label for="email" class="label">Email Address</label><br />
            <input
              type="email"
              id="email"
              autocomplete="email"
              placeholder="Enter Email Address"
              class="inputForm"
              formControlName="email"
            />

            <span
              class="invalideField"
              *ngIf="
                registerForm.get('email')!.invalid &&
                registerForm.get('email')!.touched
              "
              >Invalid Email</span
            >
          </div>
          <div class="form-group-double">
            <div class="password-group groups">
              <label for="name" class="label">FirstName</label><br />
              <input
                type="text"
                id="text"
                autocomplete="Your name"
                placeholder="Enter your Firstname"
                class="inputForm"
                formControlName="nom"
              />
              <span
                class="invalideField"
                *ngIf="
                  registerForm.get('nom')!.invalid &&
                  registerForm.get('nom')!.touched
                "
                >Your FirstName doesn't match the minimum requirements</span
              >
            </div>
            <div class="password-group groups">
              <label for="lastName" class="label">LastName</label><br />
              <input
                type="text"
                id="LastName"
                autocomplete="LastName"
                placeholder="enter LastName"
                class="inputForm"
                formControlName="prenom"
              />
              <span
                class="invalideField"
                *ngIf="
                  registerForm.get('prenom')!.value !==
                  registerForm.get('prenom')!.value
                "
                >Your LastName doesn't match</span
              >
            </div>
          </div>
          <div class="form-group-double">
            <div class="password-group groups">
              <label for="password" class="label">Password</label><br />
              <input
                type="password"
                id="password"
                autocomplete="new-password"
                placeholder="Enter Password"
                class="inputForm"
                formControlName="password"
              />
              <span
                class="invalideField"
                *ngIf="
                  registerForm.get('password')!.invalid &&
                  registerForm.get('password')!.touched
                "
                >Your password doesn't match the minimum requirements</span
              >
            </div>
            <div class="password-group groups">
              <label for="confirmPassword" class="label">Confirm Password</label
              ><br />
              <input
                type="password"
                id="confirmPassword"
                autocomplete="new-password"
                placeholder="Confirm Password"
                class="inputForm"
                formControlName="confirmPassword"
              />
              <span
                class="invalideField"
                *ngIf="
                  registerForm.get('password')!.value !==
                  registerForm.get('confirmPassword')!.value
                "
                >Your password doesn't match</span
              >
            </div>
          </div>
          <div class="form-group-double">
            <div class="phone-group groups">
              <label for="phone" class="label">Phone</label><br />
              <input
                type="tel"
                id="phone"
                placeholder="00-000-000"
                class="inputForm"
                formControlName="phone"
              />
              <span
                class="invalideField"
                *ngIf="
                  registerForm.get('phone')!.invalid &&
                  registerForm.get('phone')!.touched
                "
                >Invalid Phone Number</span
              >
            </div>

            <div class="address-group groups">
              <label for="address" class="label">Address</label><br />
              <input
                type="text"
                id="address"
                class="inputForm"
                formControlName="address"
              />
            </div>
          </div>
          <span>Already Have an Account? </span><br />
          <button type="submit" class="signupButton">Register</button>
          <div class="messageContainer"></div>
        </form>
      </div>
    </div>
  </div>
</div>
