<div class="add-dua">
  <div class="mainContainer">
    <h2>Add New Dua</h2>
    <form [formGroup]="duaForm" (ngSubmit)="submitForm()">
      <div class="form-group">
        <div class="form-group">
          <label for="category" class="label">Category</label>
          <select
            id="category"
            formControlName="category"
            class="form-control inputForm"
          >
            <option value="" disabled>Select category</option>
            <option value="Bedtime">Bedtime</option>
            <option value="Morgning-Evening">Morning-Evening</option>
            <option value="Family">Family</option>
            <option value="Social">Social</option>
            <option value="Ramadan">Ramadan</option>
            <option value="Hajj">Hajj</option>
            <option value="Purification">Purification</option>
            <option value="Prayer">Prayer</option>
            <option value="Nature">Nature</option>
            <option value="Possesion-riza">Possession-riza</option>
            <option value="Travel">Travel</option>
            <option value="Food & Drink">Food & Drink</option>
            <option value="Illness-Death">Illness-Death</option>
            <option value="Seeking Refuge">Seeking Refuge</option>
            <option value="Gratitude - Confession">
              Gratitude - Confession
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="text">Text</label>
        <input
          id="text"
          formControlName="text"
          class="form-control inputForm"
          placeholder="Enter Dua text"
        />
      </div>
      <div class="form-group">
        <label for="translation">Translation</label>
        <input
          id="translation"
          formControlName="translation"
          class="form-control inputForm"
          placeholder="Enter translation"
        />
      </div>
      <button type="submit" class="btn btn-primary">Add Dua</button>
    </form>
  </div>
</div>
