<div class="add-hadith">
  <div class="mainContainer">
    <h2>Add New Hadith</h2>
    <form [formGroup]="hadithForm" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="source">Source</label>
        <input
          id="source"
          formControlName="source"
          class="form-control inputForm"
          placeholder="Enter source"
        />
      </div>
      <div class="form-group">
        <label for="text">Text</label>
        <input
          id="text"
          formControlName="text"
          class="form-control inputForm"
          placeholder="Enter Hadith text"
        />
      </div>
      <div class="form-group">
        <label for="arabicInHadith">Arabic Text</label>
        <input
          id="arabicInHadith"
          formControlName="arabicInHadith"
          class="form-control inputForm"
          placeholder="Enter Arabic text"
        />
      </div>
      <div class="form-group">
        <label for="translation">Translation</label>
        <input
          id="translation"
          formControlName="translation"
          class="form-control inputForm"
          placeholder="Enter translation"
        />
      </div>
      <button type="submit" class="btn btn-primary">Add Hadith</button>
    </form>
  </div>
</div>
