<div class="add-hadith">
  <div class="mainContainer">
    <h2>Add New Hadith</h2>
    <form [formGroup]="hadithForm" (ngSubmit)="submitForm()">
      <div class="form-group"></div>
      <div class="form-group">
        <label for="text">Hadith in Arabic</label>
        <input
          id="text"
          formControlName="text"
          class="form-control inputForm"
          placeholder="Enter Hadith text"
        />
      </div>
      <span
        class="invalidField"
        *ngIf="
          hadithForm.get('text')!.invalid && hadithForm.get('text')!.touched
        "
        >Invalid Hadith</span
      >

      <div class="form-group">
        <label for="translation">Hadith in English</label>
        <input
          id="translation"
          formControlName="translation"
          class="form-control inputForm"
          placeholder="Enter translation"
        />
      </div>

      <span
        class="invalidField"
        *ngIf="
          hadithForm.get('translation')!.invalid &&
          hadithForm.get('translation')!.touched
        "
        >Invalid Hadith</span
      >

      <label for="source">Source</label>
      <input
        id="source"
        formControlName="source"
        class="form-control inputForm"
        placeholder="Enter source"
      />
      <button type="submit" class="btn btn-primary">Add Hadith</button>
    </form>
  </div>
</div>
