<div class="authComponent">
  <app-navbar></app-navbar>
  <div class="Wrapper">
    <div class="authContainer">
      <div class="imgContainer">
        <img src="../../../assets/basicOfIslam.png" alt="Auth Image" />
      </div>
    </div>
    <div class="mainContainer">
      <div class="text">
        <h4><i>Welcome Back!</i></h4>
        <h1>Sign in</h1>
      </div>
      <div class="formContainer">
        <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
          <div class="form-group">
            <label for="email" class="label">Email</label><br />
            <input
              id="email"
              class="inputForm"
              formControlName="email"
              placeholder="enter email"
            />
            <span
              class="invalideField"
              *ngIf="
                loginForm.get('email')!.invalid &&
                loginForm.get('email')!.touched
              "
              >Invalid Email</span
            >
          </div>

          <div class="form-group">
            <label for="password" class="label">Password</label><br />
            <input
              id="password"
              class="inputForm"
              formControlName="password"
              type="password"
              placeholder="enter password"
            />
            <span
              class="invalideField"
              *ngIf="
                loginForm.get('password')!.invalid &&
                loginForm.get('password')!.touched
              "
              >Invalid Password</span
            >
          </div>
          <div class="form-group">
            <a href="/register" class="linkSignUp"
              >Don't have an account? Sign up</a
            >
          </div>
          <button type="submit" class="signupButton">Login</button>
        </form>
        <div class="messageContainer"></div>
      </div>
    </div>
  </div>
</div>
