<div class="container">
  <h3>Category of Duas and Zikr</h3>
  <div class="categories">
    <div>
      <img src="../../../assets/categoryIcons/bedtime.png" alt="bedtime" /><span
        >Bedtime</span
      >
    </div>
    <div>
      <img src="../../../assets/categoryIcons/m&e.png" alt="" /><span
        >Morgning-Evening</span
      >
    </div>
    <div>
      <img src="../../../assets/categoryIcons/family.png" alt="" /><span
        >Family</span
      >
    </div>
    <div>
      <img src="../../../assets/categoryIcons/social.png" alt="" /><span
        >Social</span
      >
    </div>
    <div>
      <img src="../../../assets/categoryIcons/ramadhan.png" alt="" /><span
        >Ramadan</span
      >
    </div>
    <div>
      <img src="../../../assets/categoryIcons/hajj.png" alt="" /><span
        >Hajj</span
      >
    </div>
    <div>
      <img src="../../../assets/categoryIcons/purification.png" alt="" /><span
        >Purification</span
      >
    </div>
    <div>
      <img src="../../../assets/categoryIcons/prayer.png" alt="" /><span
        >Prayer</span
      >
    </div>
    <div>
      <img src="../../../assets/categoryIcons/nature.png" alt="" /><span
        >Nature</span
      >
    </div>
    <div>
      <img src="../../../assets/categoryIcons/possesion.png" alt="" /><span
        >Possesion-riza</span
      >
    </div>
    <div>
      <img src="../../../assets/categoryIcons/travel.png" alt="" /><span
        >Travel</span
      >
    </div>
    <div>
      <img src="../../../assets/categoryIcons/food.png" alt="" /><span
        >Food & Drink</span
      >
    </div>
    <div>
      <img src="../../../assets/categoryIcons/illness.png" alt="" /><span
        >Illness-Dath</span
      >
    </div>
    <div>
      <img src="../../../assets/categoryIcons/refuge.png" alt="" /><span
        >Seeking Refuge</span
      >
    </div>
    <div>
      <img src="../../../assets/categoryIcons/confession.png" alt="" /><span
        >Gratitude - Confession</span
      >
    </div>
  </div>
</div>
