<div class="containers">
  <h3>Category of Duas and Zikr</h3>
  <div class="categories">
    <div (click)="navigateToCategory('Bedtime')">
      <img src="../../../assets/categoryIcons/bedtime.png" alt="bedtime" /><span>Bedtime</span>
    </div>
    <div (click)="navigateToCategory('Morgning-Evening')">
      <img src="../../../assets/categoryIcons/m&e.png" alt="m&e" /><span>Morgning-Evening</span>
    </div>
    <div (click)="navigateToCategory('Family')">
      <img src="../../../assets/categoryIcons/family.png" alt="family" /><span>Family</span>
    </div>
    <div (click)="navigateToCategory('Social')">
      <img src="../../../assets/categoryIcons/social.png" alt="social" /><span>Social</span>
    </div>
    <div (click)="navigateToCategory('Ramadan')">
      <img src="../../../assets/categoryIcons/ramadhan.png" alt="ramadhan" /><span>Ramadan</span>
    </div>
    <div (click)="navigateToCategory('Hajj')">
      <img src="../../../assets/categoryIcons/hajj.png" alt="hajj" /><span>Hajj</span>
    </div>
    <div (click)="navigateToCategory('Purification')">
      <img src="../../../assets/categoryIcons/purification.png" alt="purification" /><span>Purification</span>
    </div>
    <div (click)="navigateToCategory('Prayer')">
      <img src="../../../assets/categoryIcons/prayer.png" alt="prayer" /><span>Prayer</span>
    </div>
    <div (click)="navigateToCategory('Nature')">
      <img src="../../../assets/categoryIcons/nature.png" alt="nature" /><span>Nature</span>
    </div>
    <div (click)="navigateToCategory('Possesion-riza')">
      <img src="../../../assets/categoryIcons/possesion.png" alt="possesion" /><span>Possesion-riza</span>
    </div>
    <div (click)="navigateToCategory('Travel')">
      <img src="../../../assets/categoryIcons/travel.png" alt="travel" /><span>Travel</span>
    </div>
    <div (click)="navigateToCategory('Food & Drink')">
      <img src="../../../assets/categoryIcons/food.png" alt="food" /><span>Food & Drink</span>
    </div>
    <div (click)="navigateToCategory('Illness-Death')">
      <img src="../../../assets/categoryIcons/illness.png" alt="illness" /><span>Illness-Death</span>
    </div>
    <div (click)="navigateToCategory('Seeking Refuge')">
      <img src="../../../assets/categoryIcons/refuge.png" alt="refuge" /><span>Seeking Refuge</span>
    </div>
    <div (click)="navigateToCategory('Gratitude - Confession')">
      <img src="../../../assets/categoryIcons/confession.png" alt="confession" /><span>Gratitude - Confession</span>
    </div>
  </div>
</div>
