<div class="navbarContainer">
  <nav>
    <div class="navbarLogo">
      <h1>Devotion</h1>
    </div>
    <ul class="navbarLinks">
      <li><a routerLink="/home" routerLinkActive="active"> Home</a></li>
      <li><a routerLink="/quran" routerLinkActive="active"> Quran</a></li>
      <li><a routerLink="/prayers" routerLinkActive="active"> Prayers</a></li>
      <li><a routerLink="/hadith" routerLinkActive="active"> Hadith</a></li>
      <li><a routerLink="/posts" routerLinkActive="active"> Posts</a></li>
    </ul>
    <div>
      <ul class="navbarLinks">
        <li *ngIf="user?.role === 'Admin'">
          <a routerLink="/adminDashboard" routerLinkActive="active"
            >Dashboard</a
          >
        </li>
        <li *ngIf="user">
          <a routerLink="/login" routerLinkActive="active" (click)="logout()"
            >Logout</a
          >
        </li>
        <li *ngIf="!user">
          <a routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li>
          <a routerLink="/register" routerLinkActive="active">Register</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
