.navbarContainer{
      background-color: #fef7eb; 
      border-bottom: 5px solid #ebe4d8;
      width:100vw;
      display: flex;
      justify-content: center;
      align-items: center;

}
.navbarLinks{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      margin: 30px;
      text-decoration: none;
      list-style: none;
}

.navbarLinks a{
      text-decoration: none;
      color: #000;
      font-size: 1.2em;
      padding: 5px 8px;
      border-radius: 10px;
      transition: background-color 0.4s ease;
}
.navbarLinks a:hover{
      color: white;
      background-color: #f3c458;
      cursor: pointer;
      

}
nav{
   width: 50%;
   
}