<div class="containers">
  <h3>Prayer Timer</h3>
  <div class="timersContainer">
    <div class="timerContainer">
      <img src="../../../assets/prayerPNG/fajr.png" alt="Fajr" />
      <span>FAJR</span>
      <div class="timerTable">
        <div class="row">
          <div class="col">Azan</div>
          <div class="col">12:00AM</div>
        </div>
        <div class="row">
          <div class="col">Iqama</div>
          <div class="col">00:00PM</div>
        </div>
      </div>
    </div>
    <div class="timerContainer">
      <img src="../../../assets/prayerPNG/zuhur.png" alt="Zuhr" />
      <span>ZUHR</span>
      <div class="timerTable">
        <div class="row">
          <div class="col">Azan</div>
          <div class="col">12:00AM</div>
        </div>
        <div class="row">
          <div class="col">Iqama</div>
          <div class="col">00:00PM</div>
        </div>
      </div>
    </div>
    <div class="timerContainer">
      <img src="../../../assets/prayerPNG/asr.png" alt="Asr" />
      <span>ASR</span>
      <div class="timerTable">
        <div class="row">
          <div class="col">Azan</div>
          <div class="col">12:00AM</div>
        </div>
        <div class="row">
          <div class="col">Iqama</div>
          <div class="col">00:00PM</div>
        </div>
      </div>
    </div>
    <div class="timerContainer">
      <img src="../../../assets/prayerPNG/maghreb.png" alt="Magrib" />
      <span>MAGRIBE</span>
      <div class="timerTable">
        <div class="row">
          <div class="col">Azan</div>
          <div class="col">12:00AM</div>
        </div>
        <div class="row">
          <div class="col">Iqama</div>
          <div class="col">00:00PM</div>
        </div>
      </div>
    </div>
    <div class="timerContainer">
      <img src="../../../assets/prayerPNG/isha.png" alt="Isha" />
      <span>ISHA</span>
      <div class="timerTable">
        <div class="row">
          <div class="col">Azan</div>
          <div class="col">12:00AM</div>
        </div>
        <div class="row">
          <div class="col">Iqama</div>
          <div class="col">00:00PM</div>
        </div>
      </div>
    </div>
  </div>
</div>
