
.grid-container {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
   gap: 15px;
   margin: 50px 0;
 }
 
 .grid-item {
   padding: 8px;
   font-size: 14px;
 }
 .gridHeader {
   font-weight: 500;
 }
 .btnSubscribe {
   display: flex;
 }
 .footerWrapper {
   
   background-color: #35a050;
   height: fit-content;
   width: 100%;
   border-radius: 30px 30px 0 0;
   padding: 60px;
   position: relative;
   color: white;
 }
 .newsLetter {
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   margin-bottom: 50px;
 }
 .newsLetter h4 {
   font-weight: 700;
   font-size: 23px;
 }
 .newsLetter span {
   font-weight: 300;
   font-size: 16px;
 }
 .btnSubscribe {
   background-color: white;
   color: #000;
   border-radius: 5px;
   padding: 10px 20px;
   font-size: 16px;
   font-weight: 500;
   cursor: pointer;
   transition: 0.3s;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .newsLetterInputWrapper {
   margin-right: 10px;
   width: auto;
 }
 .logoFooterWrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 50px;
   font-size: 16px;
   font-weight: 200;
 }
 .logoFooter {
   font-size: 30px;
   font-weight: 600;
   font-style: normal;
   font-family: "Lobster", sans-serif;
   font-style: normal;
   color: white;
   user-select: none;
   cursor: pointer;
 }
 @media screen and (max-width: 768px) {
   .newsLetter {
     flex-direction: column;
   }
   .search {
     width: 100%;
   }
   .btnSubscribe {
     width: 50%;
     font-size: 10px;
   }
   .logoFooterWrapper {
     flex-direction: column;
   }
 }

