<div class="hadithContainer">
  <h3>Hadith</h3>
  <div class="hadithCard">
    <div class="hadithCardText">
      <img src="../../../assets/quotes.png" class="quotes" />
      <img src="../../../assets/Shape1.png" class="Shape1" />
      <img src="../../../assets/Shape2.png" class="Shape2" />
      <h4>Hadith of the Day</h4>
      <p>
        "The best among you are those who have the best manners and character."
      </p>
    </div>
  </div>
  <button class="hadithButton">Read More</button>
</div>
