<div class="deleteSurahComponent">
   <div class="wrapper">
     <div class="mainContainer">
       <div class="text">
         <h4><i>Delete a Surah</i></h4>
         <h1>Delete Surah</h1>
       </div>
       <div class="formContainer">
         <form [formGroup]="deleteSurahForm" (ngSubmit)="submitForm()">
           <div class="form-group">
             <label for="suraID" class="label">Surah ID</label>
             <input
               id="suraID"
               class="inputForm"
               formControlName="suraID"
               placeholder="Enter Surah ID to delete"
             />
             <span
               class="invalidField"
               *ngIf="
                 deleteSurahForm.get('suraID')!.invalid &&
                 deleteSurahForm.get('suraID')!.touched
               "
               >Invalid Surah ID</span
             >
           </div>
           <button type="submit" class="btnDeleteSurah">Delete Surah</button>
         </form>
         <div class="messageContainer"></div>
       </div>
     </div>
   </div>
 </div>
 